//
NET "rst" LOC = B8;
NET "clk" LOC = V10;
NET "anode_out[0]" LOC = P17;
NET "anode_out[1]" LOC = P18;
NET "anode_out[2]" LOC = N15;
NET "anode_out[3]" LOC = N16;
NET "di_num[3]" LOC = M8;
NET "di_num[2]" LOC =V9;
NET "di_num[1]" LOC =T9;
NET "di_num[0]" LOC =T10;
NET "LED_out[6]" LOC = T17;
NET "LED_out[5]" LOC = T18;
NET "LED_out[4]" LOC = U17;
NET "LED_out[3]" LOC = U18;
NET "LED_out[2]" LOC = M14;
NET "LED_out[1]" LOC = N14;
NET "LED_out[0]" LOC = L14;
//
NET "rst" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "anode_out[0]" IOSTANDARD = LVCMOS33;
NET "anode_out[1]" IOSTANDARD = LVCMOS33;
NET "anode_out[2]" IOSTANDARD = LVCMOS33;
NET "anode_out[3]" IOSTANDARD = LVCMOS33;
NET "di_num[3]" IOSTANDARD = LVCMOS33;
NET "di_num[2]" IOSTANDARD = LVCMOS33;
NET "di_num[1]" IOSTANDARD = LVCMOS33;
NET "di_num[0]" IOSTANDARD = LVCMOS33;
NET "LED_out[6]" IOSTANDARD = LVCMOS33;
NET "LED_out[5]" IOSTANDARD = LVCMOS33;
NET "LED_out[4]" IOSTANDARD = LVCMOS33;
NET "LED_out[3]" IOSTANDARD = LVCMOS33;
NET "LED_out[2]" IOSTANDARD = LVCMOS33;
NET "LED_out[1]" IOSTANDARD = LVCMOS33;
NET "LED_out[0]" IOSTANDARD = LVCMOS33;